@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RegistrationModel
@await Html.PartialAsync("NavbarComponent", new GlobalModel() {IsAuthorized = Model.IsAuthorized})
@using (Html.BeginForm("Registration", "Login", FormMethod.Post))
{
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="mb-3">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="Name" Name="Name">
                        @if (!Model.NameOk)
                        {
                            <p class="fw-bold" style="color: red;">Invalid formate</p>
                        }
                    </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="mb-3">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="Address" name="Address">
                        @if (!Model.AddressOk)
                        {
                            <p class="fw-bold" style="color: red;">Invalid formate</p>
                        }
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" Name="Email">
                        @if (!Model.EmailOk)
                        {
                            <p class="fw-bold" style="color: red;">Invalid formate</p>
                        }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password">
                        @if (!Model.PasswordOk)
                        {
                            <p class="fw-bold" style="color: red;">Invalid formate</p>
                        }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

}